/*#cpu,*/
/*#gpu,*/
/*#motherboard {*/
/*    !*height: 100vh;*!*/
/*    !*width: 100%;*!*/
/*    margin: 2rem 5rem 5rem 5rem;*/
/*}*/



#cpu {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*background-color: grey;*/
    /*justify-content: space-evenly;*/
}

#gpu {
    /*background-color: darkgreen;*/
}

#motherboard {
    /*background-color: brown;*/
}

.first-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.second-inner {
    display: flex;
    flex-direction: column;
}

.info-button {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    margin-left: 0.3rem;
}

.filter-green {
    filter: invert(39%) sepia(90%) saturate(1197%) hue-rotate(82deg) brightness(103%) contrast(101%);
}

.filter-red {
    filter: invert(14%) sepia(65%) saturate(5924%) hue-rotate(356deg) brightness(98%) contrast(96%);
}

.filter-grey {
    filter: invert(74%) sepia(0%) saturate(61%) hue-rotate(145deg) brightness(94%) contrast(83%);
}

select {
    background: #2f3640;
    color: #fff;
    margin-right: 0.6rem;
}

/* Small screen */
@media only screen and (max-width: 768px) {
    .page-section {
        margin: 1.5rem;
        /*margin: 1rem 1rem 5rem 5rem;*/
    }
}

/* Large screen */
@media only screen and (min-width: 768px) {
    .page-section {
        margin: 2rem 5rem 5rem 5rem;
    }
}